<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="6317513980329628">
            <conditions>
                <condition id="2" name="Mouse button is down" sid="1769231772173944" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="1281903026115827" type="System">
                    <param id="0" name="Layout">Layout 1</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
